@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

:root {
    --principal-color: #9D665B;
    --principal-color-second: #434343;
    --principal-color-second-rgb: rgb(67, 67, 67, 0.5);
    --secondary-color: #998573;
    --white-color: #FFFFFF;
    --primary-font: 'Abhaya Libre';
    --secondary-font: Arial, sans-serif;
    --text-size: 1.3rem;
    --text-weight: 500;
    --text-space-letter: 1.2px; 
    --subtitle-size: 1.9rem;
    --subtitle-weight: 300;
    --subtitle-space-letter: 1.5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    color: var(--principal-color);
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

footer {
    background-color: var(--principal-color);
    color: var(--white-color);
    padding: 2rem;
    text-align: center;
    font-size: var(--text-size);
    font-weight: 600;
    letter-spacing: var(--text-space-letter);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--principal-color);
    border-radius: 2px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 0 10rem 0;
}

.divisoria {
    border: 0;
    height: 1px;
    background-color: var(--principal-color-second-rgb);
    margin: 1% 3% 0 3%;
}

.title-feedback {
    display: flex;
    width: 100vw;
    height: auto;
    background-color: var(--principal-color);
    align-items: center;
    justify-content: center;
    top: 0;
    padding: 2.5rem;
    margin: 4rem 0 0 0;
}

.text-feedback {
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: var(--subtitle-space-letter);
    margin: 0;
}

.divison-feedback {
    display: grid;
    width: 100vw;
    padding: 5% 7% 0 7%;
    grid-template-columns: repeat(2, 1fr);
    gap:2em 0;
    margin: 2% 0 0 0;
    place-items: center;
}

.card {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    width: 80%;
    height: 100%;
    border-radius: 10px;
    color: var(--principal-color-second);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.2em;
    text-align: justify;
}

.card__img__perfil {
    display: flex;
    width: 90px;
    padding: 0.2em;
}

.card__img__perfil-f {
    display: flex;
    width: 80px;
    padding: 0.6em;
}

.card__img__star {
    width: 20px;
    height: 20px;
}

.card_first {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card_second {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

.area_img__star {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.area_text {
    width: 85%;
    margin: 0;
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    letter-spacing: var(--text-space-letter);
}

.area_img {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    gap: 5px;
}
.area_img p {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    letter-spacing: var(--text-space-letter);
}

@media screen and (max-width: 900px) {
    .area_img img {
        display: none;
    }
    .card_first {
        display: flex;
        padding: 0 1.5rem 0 1.5rem;
        font-size: 1.1rem;
        font-weight: 700;
    }
    .area_text p {
        margin: 0;
    }
}

@media screen and (max-width: 580px) {
    .title-feedback {
        display: flex;
        text-align: center;
        height: auto;
        margin-top: 0;
    }
    
    .text-feedback {
        padding: 0 2rem 0 2rem;
        font-size: 1.6rem;
        align-items: center;
        justify-content: center;
    }
    .divison-feedback {
        display: flex;
        flex-direction: column;
    }
    .area_img img {
        display: none;
    }
    .card_first {
        display: flex;
        padding: 0 1.5rem 0 1.5rem;
        font-size: 1.1rem;
        font-weight: 700;
    }
    .area_img__star img {
        width: 1rem;
        height: 1rem;
    }
    .area_text {
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 700;
    }
}