@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

:root {
    --principal-color: #673a27;
    --background-color: #996a55;
    --principal-color-second: #434343;
    --secondary-color: #998573;
    --white-color: #FFFFFF;
    --primary-font: 'Abhaya Libre';
    --Cormorant-Garamond: 'Cormorant Garamond';
    --secondary-font: Arial, sans-serif;
    --text-size: 1.3rem;
    --text-weight: 500;
    --text-space-letter: 1.2px;
    --subtitle-size: 1.9rem;
    --subtitle-weight: 300;
    --subtitle-space-letter: 1.5px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    color: var(--principal-color);
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.footer {
    display: flex;
    flex-direction: row;
    width: 60%;
    color: var(--white-color);
    padding: 2rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: var(--text-space-letter);
}

.copyrights {
    font-size: 1rem;
    margin-top: 3rem;
}

.footer-logo {
    width: 12rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--principal-color);
    border-radius: 2px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section__main {
    width: 100vw;
    height: auto;
    top: 0;
}

.iframe {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: end;
}
.iframe iframe {
    width: 40%;
    height: 50%;
}

.iframe-text {
    font-size: 1rem;
    font-family: var(--Cormorant-Garamond);
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0 0 0;
    color: var(--principal-color-second);
}

.img_area {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 35%;
    height: 100vh;
}

.img_about {
    width: 95%;
    height: 100%;
}

.text_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.title {
    font-size: 3rem;
    color: var(--principal-color);
    font-family: var(--Cormorant-Garamond);
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
}

.subtitle {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: var(--principal-color);
    font-family: var(--Cormorant-Garamond);
    padding: 0 0 1rem 0;
}

.text__about {
    width: 80%;
    font-family: var(--primary-font);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    letter-spacing: var(--text-space-letter);
    text-align: justify;
    line-height: 2rem;
    margin: 1rem 0 0 0;
}

.work_details {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iframe-work-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tile-work-details {
    font-size: 3rem;
    color: var(--white-color);
    font-family: var(--Cormorant-Garamond);
    font-weight: 400;
    margin: 0;
    padding-bottom: 1rem;
    letter-spacing: 1px;
}

.iframe-area-text-work-details {
    display: flex;
    width: 50vw;
    justify-content: end;
}

.iframe-text-work-details {
    color: var(--white-color);
    font-family: var(--Cormorant-Garamond);
    margin: 0;
    padding: 2px;
}

.iframe-work-details iframe {
    width: 100%;
    height: 50%;
}

.about-work-content {
    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);
}

.about-text-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-work-text {
    width: 80%;
    color: var(--principal-color-second);
    font-family: var(--primary-font);
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    letter-spacing: var(--text-space-letter);
    text-align: justify;
    line-height: 2.2rem;
    margin: 1rem 0 0 0;
}


@media only screen and (max-width: 580px) {
    .iframe iframe{
        width: auto;
        height: auto;
    }

    .content {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }  

    .img_area {
        width: 100%;
        height: auto;
    }

    .img_area img {
        width: 100%;
    }

    .text_area {
        width: 100%;
        padding: 2rem 0 4rem 0;
    }

    .title {
        font-size: 2.3rem;
    }

    .subtitle {
        font-size: 1rem;
        padding: 0;
    }

    .text__about {
        text-align: left;
        width: 90vw;
    }

    .work_details {
        width: 100vw;
        height: 50%;
    }

    .iframe-work-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        padding: 5rem 0 7rem 0;
    }

    .tile-work-details {
        display: flex;
        flex-direction: column;
        width: 60vw;
        font-size: 2rem;
    }
    
    .iframe-work-details iframe{
        width: auto;
        height: auto;
    }
    .iframe-area-text-work-details {
        justify-content: center;
    }

    .about-work-content {
        width: auto;
        height: 100%;
    }

    .about-work-text {
        width: 90vw;
        text-align: left;
        padding-top: 2rem;
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .copyrights {
        width: 90%;
        margin: 1rem 0 4rem 0;
    }

    .footer-logo {
        width: 10rem;
    }

    .contato-fixo svg {
        width: 2rem;
        height: auto;
        padding: 10px 0 10px 5px;
    }

}

@media screen and (max-width: 900px) and (min-width:580px) {

    .text__about {
        width: 80vw;
        font-size: 1.4em;
        text-align: justify;
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .copyrights {
        width: 90%;
        margin: 1rem 0 4rem 0;
    }

    .footer-logo {
        width: 10rem;
    }
}

@media screen and (max-width: 770px) and (min-width: 760px) {}