@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --light-brown: #996A55;
    --text_dark-brown: #563D34;
    --text-light-brown: #673A27;
    --white-color: #FFFFFF;
    --primary-font: 'Abhaya Libre';
    --Cormorant-Garamond: 'Cormorant Garamond';
    --nav-name-font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    color: var(--principal-color);
    font-family: 'Abhaya Libre', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: var(--principal-color);
    border-radius: 2px;
}

.section__main {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    color: #fff;
}
.section__main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    background-image: url(../img/fts/fundo-inicio.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.main__session {
    width: 60vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: 12% 5% 0 10%;
}

.button__contact {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--Cormorant-Garamond);
    background-color: var(--light-brown);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.button__contact:hover {
    transition: all .05s ease-in-out;
    transform: scale(1.01);
}

.h1__article__main {
    width: 80%;
    color: var(--text-light-brown);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 2rem;
}

.h3__article__main {
    color: var(--text_dark-brown);
    font-family: var(--Cormorant-Garamond);
    font-weight: 500;
    font-size: 3.5rem;
    margin: 0;
    padding-bottom: 0.5rem;
}

.article_desire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    margin-bottom: 5rem;

}

.title_desire{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--Cormorant-Garamond);
    color: var(--text_dark-brown);
}

.box_desire_div{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 15% 0 15%;
}

.box_desire{
    display: flex;
    height: 200px;
    background-color: var(--light-brown);
    color: var(--white-color);
    flex: 0 1 calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
}

.text_box_desire {
    width: 90%;
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 30px;
    text-align: center;
}

.text-desire{
    text-align: center;
    width: 45%;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: var(--Cormorant-Garamond);
    color: var(--text_dark-brown);
}

.button__contact_desire {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    color: var(--text-dark-brown);
    font-family: var(--Cormorant-Garamond);
    background-color: var(--white-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.button__contact_desire:hover {
    transition: all .05s ease-in-out;
    transform: scale(1.01);
}

.article_insta {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}


.insta_title {
    width: 45%;
    font-size: 2.5rem;
    font-family: var(--Cormorant-Garamond);
    color: var(--text-light-brown);
}

.div_insta_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.insta_images {
    width: 100%;
}

.image_i {
    width: 180px;
    height: 180px;
}

.insta_link {
    text-decoration: none;
    color: var(--text-light-brown);
    font-family: var(--Cormorant-Garamond);
    font-size: 1.5rem;
    padding-top: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-brown);
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--white-color);
    padding: 1rem 2rem;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: var(--text-space-letter);
}

.copyrights {
    font-size: 1rem;
    margin-top: 3rem;
}

.footer-logo {
    width: 10rem;
}

.nav__name {
    display: block;
    font-size: var(--nav-name-font-size);
    color: var(--white-color);
    font-family: var(--Cormorant-Garamond) !important;
}

@media only screen and (max-width: 1024px) {

}

@media screen and (max-width: 900px) {   
    .whatsapp_float {
        width: 6rem;
        height: 6rem;
        font-size: 4.5rem;
    }
    .whatsapp-icon {
        margin-top: 0.7rem;
        margin-left: 0.2rem;
    }
    .main__session {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1rem 5rem 5rem 5rem;
    }
    .section__main {
        height: auto;
    }
    .button__contact {
        font-size: 2rem;
        margin: 0;
        padding: 0.5rem;
    }    
    .h1__article__main {
        font-size: 2.5rem;
        margin: 0;
        padding: 8rem 2rem 2rem 2rem;
    }
    .h3__article__main {
        font-size: 2.5rem;
        margin: 0;
        padding: 2rem 2rem 8rem 2rem;
    }
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .copyrights {
        width: 90%;
        margin: 1rem 0 4rem 0;
    }
    
    .footer-logo {
        width: 10rem;
    }
}

@media screen and (max-width: 770px) and (min-width: 760px) {
    .main__session {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1rem 5rem 8rem 5rem;
    }
    .section__main {
        height: auto;
    }
    .button__contact {
        font-size: 2rem;
        margin: 0;
        padding: 0.5rem;
    }    
    .h1__article__main {
        font-size: 2.5rem;
        margin: 0;
        padding: 5rem 2rem 2rem 2rem;
    }
    .h3__article__main {
        font-size: 2.5rem;
        margin: 0;
        padding: 2rem 2rem 5rem 2rem;
    }
}


@media screen and (max-width: 580px) {
    .button__contact {
        display: grid;
        width: 12rem;
        margin: 0 10% 0 10%;
    }
    
    .whatsapp_float {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
    }
    .whatsapp-icon {
        margin-top: 0.4rem;
        margin-left: 0.1rem;
    }
    .button__contact {
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 4rem 0 0 0;
    }    
    .h1__article__main {
        width: 100%;
        font-size: 1.5rem;
        margin: 0;
        padding: 0 1rem 0 1rem;
    }
    .h3__article__main {
        display: none;
        font-size: 1.5rem;
        margin: 0;
        padding: 2rem 2rem 1rem 2rem;
    }
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .copyrights {
        width: 90%;
        margin: 1rem 0 4rem 0;
    }


    .main__session {
        display: flex;
        width: 80%;
        height: 100vh;
        gap: 20rem;
        flex-direction: column;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .section__main {
        width: 100%;
        min-height: 90vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__main::before {
        width: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center;
        background-image: url(../img/fts/fundo-inicio-mobile.png);
    }


    .article_desire {
        width: 100%;
    }

    .box_desire_div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .box_desire {
        width: 85%;
    }

    .text_box_desire {
        font-size: 1.3rem;
    }

    .text-desire {
        width: 75%;
        padding-top: 1rem;
    }

    .article_insta {
        width: 100%;
        height: 100%;
        padding-top: 5rem 0 5rem 0;
        margin: 2rem 0 4rem 0;
    }

    .insta_title {
        width: 80%;
    }

    .div_insta_images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .footer-logo {
        display: none;
    }
}